{%load static%}


<!-- HEADER !-->
<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
	<div class="span6">Welcome!<strong>{{user.username}}</strong></div>
	<div class="span6">

	</div>
</div>

	<script>
  $(function() {
		$("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>

<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="/"><img src="{%static 'themes/images/logo.png'%}" alt="Bootsshop"/></a>


	  <form class="form-inline navbar-search" method="post" action="/search/" >
		  {%csrf_token%}
		  <input id="query"  name="query" class="srchTxt" type="text" />
		  {% load mptt_tags %}
		  <select name="catid" class="srchTxt">

			<option value="0" >All</option>

					{%if node.is_leaf_node%}
			  <option value="{{node.id}}"> {{node.title}}</option>
			  {%endif%}
			  {%if not node.is_leaf_node%}
			  	<optgroup label="{{node.title}}">
					{{children}}
				</optgroup>
			  {%endif%}

		 </select>

		 <button type="submit" id="submitButton" class="btn btn-primary">GO</button>
    </form>

    <ul id="topMenu" class="nav pull-right">
	 <li class=""><a href=" /hakkimizda">Hakkımızda</a></li>
	 <li class=""><a href=" /referanslar">Referanslar</a></li>
	 <li class=""><a href=" /iletisim">İletisim</a></li>
	 <li class=""><a href=" /user">My Account</a></li>
	 <li class=""><a href=" /user/orders">My Orders</a></li>
	 <li class=""><a href=" /user/contents">My Content</a></li>

		 {%if user.id is not None%}
	 <a href="/login/" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">{{user.username}}</span></a>

		 <a href="/logout"><span class="btn btn-large btn-success">LOGOUT </span></a></a>

		 {%else%}
		 <a href="/login/" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">LOGİN </span></a>
		 <a href="/signup/"><span class="btn btn-large btn-success">SIGNUP </span></a></a>
		  {%endif%}
	</li>
    </ul>
  </div>
</div>
</div>
</div>
