{% extends "homebase.html"%}
{%block title %} Orders List {{ profile.username }} {% endblock %}
{%block keywords %}{{ setting.keywords  }} {% endblock %}
{%block description %}{{ setting.description  }}{% endblock %}
 {%block head%}
<link rel="shorcut icon" type="image/x-icon" href="{{setting.icon.url}}"/>
 {%endblock%}


{%block sidebar %}

{% endblock %}

{%block content %}
<div id="mainBody">
<div class="container">
	<div class="row">
			{%if messages %}
					{% for message in messages%}
								<div class="alert alert-{{message.tags}}" role="alert">
											{{message}}
								</div>
					{%endfor%}
			{%endif%}

		<div class="span4">
		<h3>USER PANEL</h3>
			<hr>
			{%include "user_panel.html" %}
		</div>

		<div class="span6">
			<h3>User Content List<a href="/user/addcontent" class="btn btn-large btn-success">Add  Content</a></h3>

			<hr>

			<table class="table">
                <tr style="border :none"  class="techSpecRow">
					<th>Image</th>
					<th >Title</th>
					<th>Type</th>
					<th >Menu</th>
					<th>Gallery</th>
					<th>Status</th>
					<th>Date</th>
					<th >Detail</th>
				</tr>
				{%for rs in contents%}
					<tr style="border :none"  class="techSpecRow" >

						<td><a href="/content/{{rs.id}}/{{rs.slug}}">
							<img src="{{rs.image.url}}" style="height:30px;"></a>
						</td>
						<td>{{rs.title}}</td>
						<td>{{rs.type}}</td>
						<td>{{rs.menu.title}}</td>
						<td>
							<a href="javascript:;" onclick="window.open('/user/contenaddimage/{{ rs.id }}', 'gallery', 'height=600, width=800, top=50, left=150')">Gallery</a>
						</td>
						<td>{{rs.status}}</td>
						<td>{{rs.create_at}}</td>
						<td><a class="btn btn-large btn-success" href="/user/contentedit/{{rs.id}}">Edit </a>
						</td>
						<td><a class="btn btn-large btn-success" href="/user/contentdelete/{{rs.id}}" onclick="return confirm('İçeriği silmek istediğinize emin misiniz?!!!')">Delete</a>


					</tr>
				{%endfor%}


			</table>

		</div>

	</div>


</div>
</div>


{% endblock %}