{% extends "homebase.html"%}
{%block title %} User Profile {{ profile.username }} {% endblock %}
{%block keywords %}{{ setting.keywords  }} {% endblock %}
{%block description %}{{ setting.description  }}{% endblock %}
 {%block head%}
<link rel="shorcut icon" type="image/x-icon" href="{{setting.icon.url}}"/>
 {%endblock%}


{%block sidebar %}

{% endblock %}

{%block content %}
<div id="mainBody">
<div class="container">

	<div class="row">
        {%include "user_panel.html" %}
        <div class="span4">
            	{%if messages %}
								{% for message in messages%}
										<div class="alert alert-{{message.tags}}" role="alert">
											{{message}}
										</div>
								{%endfor%}
							{%endif%}
		<h3>USER UPDATE</h3>
			<hr>
            <div >
                <img src="{{user.userprofile.image.url}}" style="height:100 px;border-radius:45px">
            </div>

            <form action="" method ="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset>
                   {{ user_form.as_p}}
                    {{profile_form.as_p}}
                </fieldset>
                <div>
                    <button class="btn btn-large btn-success" type="submit">UPDATE</button>
                </div>

            </form>

		</div>


    </div>
	</div>


</div>
</div>


{% endblock %}